<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>This is contact.html Page</h1>
    <h1>Title :{{title}}</h1>
    <h1>Developer name:{{developer}}</h1>
    <h1>Company name:{{company}}</h1>
</body>

</html>