<ul>
    <li>
        <a href="">Home</a>
    </li>
    <li>
        <a href="/about">About</a>
    </li>
    <li>
        <a href="/service">Service</a>
    </li>
    <li>
        <a href="/gallery">Gallery</a>
    </li>
    <li>
        <a href="/contact">contact</a>
    </li>
</ul>

<hr color="blue" size="5px">